*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore the entire .idea directory
.idea/

# But do not ignore these files
!.idea/modules.xml
!.idea/misc.xml
!.idea/vcs.xml
!.idea/jsLibraryMappings.xml
!.idea/compiler.xml
!.idea/runConfigurations/PythonTests.xml
